<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="SmtpAppender"/>-->
      <appender-ref ref="LogFileAppender" />
      <!--<appender-ref ref="ColoredConsoleAppender"/>-->
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%02thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="bobby.chopra@prcm.com" />
      <from value="TagFileUploader@prcm.com" />
      <subject value="TagFileUploader ERROR" />
      <smtpHost value="prc-mn-ex01" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="win7_64_url" value="https://download.microsoft.com/download/0/A/F/0AFB5316-3062-494A-AB78-7FB0D4461357/windows6.1-KB976932-X64.exe" />
    <add key="win7_32_url" value="https://download.microsoft.com/download/0/A/F/0AFB5316-3062-494A-AB78-7FB0D4461357/windows6.1-KB976932-X86.exe" />
    <add key="framework461_CHS_url" value="http://www.yuejuanyi.com/csclient/NDP461-KB3102436-x86-x64-AllOS-CHS.exe" />
    <add key="framework461_ENU_url" value="http://www.yuejuanyi.com/csclient/NDP461-KB3102436-x86-x64-AllOS-ENU.exe" />
    <!--系统内部配置-->
    <add key="SystemValidate" value="true" />
    <add key="FrameworkValidate" value="true" />
    <add key="CheckUpdater" value="false" />
    <add key="IsDebug" value="false" />
    <add key="HomeUrl" value="" />
  </appSettings>
</configuration>